@mixin WidthHeight($w, $h) {
  width: $w;
  height: $h;
}
@mixin Flex-Row($justify, $align, $width: 100%, $height: 100%) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  width: $width;
  height: $height;
}
@mixin Flex-Col($align, $justify, $width: 100%, $height: 100%) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
  width: $width;
  height: $height;
}
html {
    background-color: #fef8e0;
    overflow-x: hidden;
    font-family: "Gilda Display", sans-serif;
    button {
        font-family: "Gilda Display", sans-serif;
    }
}
.content-wrap {
    color: #3d402f;
    margin: 52vh auto 0vh auto;
    text-align: center;
    font-family: "Gilda Display", sans-serif;
    @include WidthHeight(100%, 100%);
    h1 {
        font-size: 3.9rem;
        font-weight: 100;
        letter-spacing: 6px;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: normal;
        margin: 0%;
        letter-spacing: 3px;
    }
    nav {
        @include Flex-Row(center, center, initial, initial);
        margin-top: 8vh;
        .btn {
            font-size: 15px;
            font-weight: normal;
            color: #3A3A3A;
            letter-spacing: 2px;
        }
        .nav-wrap {
            @include Flex-Col(center, center, initial, initial);
            .nav-underline {
                background-color: black;
                @include WidthHeight(90%, 0.2vh);
                border-radius: 10%;
                transition: opacity 0.5s;
            }
        }
    }
}

.nature-img {
    @include WidthHeight(72vw, 54vw);
    position: absolute;
    left: 0%;
    top: 0%;
    pointer-events: none;
}

.btn {
    cursor: pointer;
    transition: filter 0.25s;
    padding: 0.4rem 1rem;
    font-size: 1.1rem;
    border-radius: 1.5%;
    background: #bcaf7e;
    border-style: unset;
    box-shadow: 1px 2px 1px 1px #786c44;
}
.btn:hover {
    filter: brightness(120%);
}
.text-btn {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.1rem;
    box-shadow: none;
}
#bodyId .hidden {
    @include WidthHeight(0%, 0%);
    display: none;
    opacity: 0%;
    padding: 0% !important;
    * {
        display: none !important;
        width: 0% !important;
        height: 0% !important;
    }
}
.hidden-with-display {
    @include WidthHeight(0%, 0%);
    opacity: 0%;
    padding: 0% !important;
}

.logo-wrap {
    @include Flex-Col(center, center, 10%, initial);
    margin: 5vh auto 20vh;
    text-align: center;
    h1 {
        font-weight: 100;
        margin: 0vh 0vw 2vh;
        font-size: 2rem;
        white-space: nowrap;
    }
    .home-underline {
        background-color: black;
        @include WidthHeight(90%, 0.2vh);
        border-radius: 10%;
    }
    span {
        font-style: italic;
        margin-top: 2vh;
    }
}

.section-container-wrap {
    @include Flex-Row(center, flex-start, initial, initial);
    margin-top: 4vh;
}

// Itenerary
#container0 {
    @include Flex-Row(center, center, initial, initial);
    img {
        @include WidthHeight(40vw, 30vw);
        border-radius: 1%;
    }
}
// Travel Guide
#container1 {
    @include Flex-Col(center, flex-start, 100%, 100%);
    #countrySelectWrap {
        @include Flex-Col(center, center, 20vw, 100%);
        background-color: #fafaf8;
        padding: 0rem 0.5rem;
        box-shadow: 1px 1px 1px 1px #bcaf7e;
        transition: font-size 0.2s, height 0.2s, padding 0.2s;
        .selection-header {
            @include Flex-Row(center, center, 100%, initial);
            padding: 0.5rem;
            cursor: pointer;
            text-indent: 10%;
            font-size: initial;
            #dropdownHeaderText {
                @include Flex-Row(flex-start, center, 100%, initial);
                white-space: nowrap;
            }
            #countrySelectionArrow {
                @include WidthHeight(1vw, 1vw);
                transition: transform 0.2s;
                transform: rotate(90deg);
            }
            #countrySelectionArrow.open-dropdown {
                transform: rotate(180deg);
            }
        }
        .country-selection {
            @include Flex-Row(center, center, 100%, 100%);
            transition: background-color 0.4s, font-size 0.2s, height 0.2s, padding 0.2s;
            cursor: default;
            text-indent: 10%;
            padding: 0.2rem;
            span {
                width: 100%;
                text-indent: 5%;
            }
            * {
                pointer-events: none;
            }
        }
        .country-selection:hover {
            background-color: #bcaf7e;
        }
        .flag {
            @include WidthHeight(10%, 90%);
            transition: width 0.2s, height 0.2s;
        }        
    }
    #countrySelectWrap.close-dropdown {
        .country-selection {
            font-size: 0px;
            height: 0px;
            padding: 0px;
            .flag {
                width: 0px;
            }
        }
    }
    .country-info-wrap {
        display: flex;
        .country-info {
            @include Flex-Col(center, center, initial, initial);
            ul {
                width: 40vw;
                li {
                    margin: 2vh 0vw;
                    letter-spacing: 3px;
                }
            }
        }
    }
    .question {
        text-transform: uppercase;
        margin: 4vh auto;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
    }    
}
// Things to Do
#container2 {
    width: initial;
}
// Q & A
#container3 {
    @include Flex-Col(center, center, initial, initial);
    .qa-wrap {
        @include Flex-Col(flex-start, center, 40%, initial);
        color: #3a3a3a;
        letter-spacing: 3px;
        margin-top: 4vh;
        opacity: 0%;
        transition: opacity 1s;
        .question {
            text-transform: uppercase;
            margin: 0% auto;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
        }
        .answer {
            margin: 2vh 0vw 6vh;
        }
        .qa-link {
            cursor: pointer;
            color: blue;
        }
    }
}
// RSVP
#container4 {
    @include Flex-Col(center, center, 100%, 100%);
    .slideshow-wrap {
        @include Flex-Row(center, flex-start, 100%, 90%);
        position: relative;
        transition: width 0.6s, height 0.6s, opacity 0.6s, padding 0.6s, font-size 0.6s, filter 0.25s;
        * {
            transition: width 0.4s, height 0.4s, opacity 0.4s, padding 0.4s, font-size 0.4s, filter 0.25s;
        }
        .rsvp {
            @include Flex-Col(center, center, 50%, 100%);
        }
        .slideshow-shrink {
            width: 0% !important;
            height: 0% !important;
            font-size: 0px !important;
            pointer-events: none;
            opacity: 0% !important;
            padding: 0% !important;
            * {
                width: 0% !important;
                height: 0% !important;
                font-size: 0px !important;
                pointer-events: none;
                opacity: 0% !important;
                padding: 0% !important;
            }
        }
        #rsvpSlideshow1 {
            .search-title {
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 500;
                text-align: center; 
                margin: 2vh 0vw 4vh;
            }
            #nameSelectWrap {
                @include Flex-Col(center, center, 20vw, 100%);
                background-color: #fafaf8;
                padding: 0rem 0.5rem;
                box-shadow: 1px 1px 1px 1px #bcaf7e;
                transition: font-size 0.2s, height 0.2s, padding 0.2s;
                border-radius: 1%;
                .selection-header {
                    @include Flex-Row(flex-start, center, 100%, initial);
                    padding: 0.5rem;
                    text-indent: 10%;
                    font-size: initial;
                    #nameSearch {
                        width: 100%;
                        border: none;
                        background-color: #fafaf8;
                        outline: none;
                    }
                }
                .rsvp-name {
                    @include Flex-Row(center, center, 100%, 100%);
                    transition: background-color 0.4s, font-size 0.2s, height 0.2s, padding 0.2s;
                    cursor: pointer;
                    text-indent: 10%;
                    padding: 0.2rem;
                    span {
                        width: 100%;
                        text-indent: 5%;
                        pointer-events: none;
                    }
                }
                .rsvp-name:hover {
                    background-color: #bcaf7e;
                }
                .hide-name {
                    font-size: 0px;
                    height: 0px;
                    padding: 0px;
                } 
            }
        }
        #rsvpSlideshow2 {
            .rsvp-for-title {
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 500;
                text-align: center;         
            }
            #invitationContainer {
                @include Flex-Col(flex-start, center, initial, initial);
                margin: 4vh 0vw;
                .invitation-wrap {
                    @include Flex-Row(center, center, initial, initial);
                    margin: 1vh 0vw;
                    .invitation-checkbox {
                        @include WidthHeight(2vw, 2vw);
                        max-width: 2vw;
                        max-height: 2vw;
                        margin: 0vh 1vw 0vh 0vw;
                        //transition: width 0.4s ease-out, height 0.4s ease-in-out, opacity 0.4s, padding 0.4s, font-size 0.4s, filter 0.25s;
                    }
                    .invitation-guest-name {
                        white-space: nowrap;
                    }
                }
            }
            .invitation-error {
                padding: 0.5rem;
                border: 2px solid red;
            }
            .btn-wrap {
                button {
                    margin: 0vh 2vw;
                }
            }
        }
        #rsvpSlideshow3 {
            .question1-wrap {
                @include Flex-Row(center, center, initial, initial);
                .col-wrap {
                    @include Flex-Col(center, center, center, center);
                    margin: 2vh 2vw;
                    .rsvp-survey-name {
                        font-size: 1.2rem;
                        margin-bottom: 1vh;
                    }
                }
            }
            .questions2-3-wrap {
                @include Flex-Row(center, center, center, center);
                margin: 1vh 0vw;
                .rsvp-survey-name {
                    font-size: 1.2rem;
                    margin-right: 1vw;
                }
            }
            .question {
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 500;
                margin: 3vh 0vw;
                text-align: center;
            }
            .check-wrap {
                @include Flex-Row(flex-start, center, 100%, initial);
                margin: 2vh 0vw 1.5 vh 45vw;
                .rsvp-survey-checkbox {
                    @include WidthHeight(2vw, 2vw);
                    max-width: 2vw;
                    max-height: 2vw;
                    background: #fafaf8;
                    margin: 0vh 1vw 0vh 0vw;
                    //transition: width 0.4s ease-out, height 0.4s ease-in-out, opacity 0.4s, padding 0.4s, font-size 0.4s, filter 0.25s;
                }
            }
            .rsvp-survey-textbox {
                @include WidthHeight(10vw, 4vh);
                text-indent: 5%;
                border-radius: 5%;
                border: none;
                background: #fafaf8;
            }
            .btn-wrap {
                margin-top: 5vh;
                button {
                    margin: 0vh 2vw;
                }
            }
        }
    }
}
// Registry
#container5 {
    @include Flex-Row(center, center, initial, initial);
    span {
        margin: 6vh 0vw;
        font-size: 1.2rem;
        font-style: italic;
    }
}
